In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('IMDB Dataset.csv')

In [15]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [16]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df['sentiment'] = label_encoder.fit_transform(df['sentiment'])
df.head()

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production. <br /><br />The...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically there's a family where a little boy ...          0
4  Petter Mattei's "Love in the Time of Money" is...          1

In [17]:
df_x = df['review']
df_y = df['sentiment']

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df_x,df_y,test_size = 0.3, random_state= 123)

In [19]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(max_features=500)
x_train = vectorizer.fit_transform(x_train)
x_test = vectorizer.transform(x_test)

In [20]:
x_train = x_train.toarray()

In [21]:
x_train.shape

(35000, 500)

In [22]:
x_test = x_test.toarray()

In [23]:
import tensorflow as tf
model = tf.keras.Sequential([
    tf.keras.layers.Dense(units=16, activation = 'relu'),
    tf.keras.layers.Dense(units=16, activation = 'relu'),
    tf.keras.layers.Dense(1,activation='sigmoid')
])

model.compile(
    loss = tf.keras.losses.binary_crossentropy,
    optimizer = tf.keras.optimizers.RMSprop(),
    metrics = ['binary_accuracy']
)

2023-05-28 23:19:15.985775: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-05-28 23:19:16.374256: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-05-28 23:19:16.376168: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-05-28 23:19:18.484341: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [24]:
history = model.fit(
    x_train,
    y_train,
    epochs= 12,
    batch_size = 50,
    validation_data=(x_test,y_test)
)

Epoch 1/12

2023-05-28 23:19:22.434791: W tensorflow/tsl/framework/cpu_allocator_impl.cc:83] Allocation of 140000000 exceeds 10% of free system memory.

697/700 [============================>.] - ETA: 0s - loss: 0.4424 - binary_accuracy: 0.7995

2023-05-28 23:19:25.141056: W tensorflow/tsl/framework/cpu_allocator_impl.cc:83] Allocation of 60000000 exceeds 10% of free system memory.

700/700 [==============================] - 3s 4ms/step - loss: 0.4421 - binary_accuracy: 0.7997 - val_loss: 0.3785 - val_binary_accuracy: 0.8423
Epoch 2/12
700/700 [==============================] - 2s 3ms/step - loss: 0.3716 - binary_accuracy: 0.8405 - val_loss: 0.3793 - val_binary_accuracy: 0.8375
Epoch 3/12
700/700 [==============================] - 2s 3ms/step - loss: 0.3613 - binary_accuracy: 0.8439 - val_loss: 0.3748 - val_binary_accuracy: 0.8397
Epoch 4/12
700/700 [==============================] - 2s 3ms/step - loss: 0.3515 - binary_accuracy: 0.8484 - val_loss: 0.3789 - val_binary_accuracy: 0.8342
Epoch 5/12
700/700 [==============================] - 2s 3ms/step - loss: 0.3437 - binary_accuracy: 0.8519 - val_loss: 0.3701 - val_binary_accuracy: 0.8417
Epoch 6/12
700/700 [==============================] - 2s 3ms/step - loss: 0.3377 - binary_accuracy: 0.8530 - val_loss: 0.3777 - val_binary_accuracy: 0.8401
Epoch 7/12
700/700 [==============================] - 2s 3ms/step - loss: 0.3305 - binary_accuracy: 0.8569 - val_loss: 0.3777 - val_binary_accuracy: 0.8391
Epoch 8/12
700/700 [==============================] - 3s 4ms/step - loss: 0.3242 - binary_accuracy: 0.8603 - val_loss: 0.3868 - val_binary_accuracy: 0.8357
Epoch 9/12
700/700 [==============================] - 2s 3ms/step - loss: 0.3172 - binary_accuracy: 0.8640 - val_loss: 0.3823 - val_binary_accuracy: 0.8387
Epoch 10/12
700/700 [==============================] - 2s 3ms/step - loss: 0.3111 - binary_accuracy: 0.8675 - val_loss: 0.3943 - val_binary_accuracy: 0.8370
Epoch 11/12
700/700 [==============================] - 2s 3ms/step - loss: 0.3054 - binary_accuracy: 0.8717 - val_loss: 0.3927 - val_binary_accuracy: 0.8370
Epoch 12/12
700/700 [==============================] - 2s 3ms/step - loss: 0.2992 - binary_accuracy: 0.8751 - val_loss: 0.3992 - val_binary_accuracy: 0.8353

In [28]:
import numpy as np
y_pred = np.round(model.predict(x_test))

 73/469 [===>..........................] - ETA: 0s

2023-05-28 23:21:26.602097: W tensorflow/tsl/framework/cpu_allocator_impl.cc:83] Allocation of 60000000 exceeds 10% of free system memory.

469/469 [==============================] - 1s 2ms/step

In [29]:
df = pd.DataFrame()
df['y_test']=y_test
df['y_pred']=y_pred
df.head()

       y_test  y_pred
11872       0     0.0
40828       1     1.0
36400       1     1.0
5166        0     0.0
30273       0     0.0

In [30]:
from sklearn import metrics
metrics.accuracy_score(y_test,y_pred)

0.8352666666666667